@import "../../../styles/colors.scss";

.container {
  width: 100%;
  min-height: 100%;
}

table {
  background: $white-color;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 2px;
  box-shadow: 0 2px 15px rgba(2, 4, 69, 0.05);
  border-radius: 7px;
  text-align: left;
}

thead {
  tr th {
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: none;
    border-bottom: none !important;
    color: #000;
  }
}

tbody {
  font-weight: 300;
}

th,
td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.paginator {
  margin-top: 0.8em;
}

.actions {
  width: fit-content;
  margin: auto;
}

th span i {
}

th span {
  cursor: pointer;

  svg {
    transition: all 250ms;
  }
}

@media (max-width: 1024px) {
  /* Table */
  table {
    text-align: left;
    box-shadow: 0px 0px 0px #000000;
    background: none;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tbody tr:nth-child(even) {
  }

  tr {
    background-color: $white-color;
    border: 1px solid #ccc;
    margin-top: 10px;
  }

  tbody tr {
    height: auto;
    box-shadow: 0px 2px 5px #c0c0c0;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    padding-left: 50%;
  }

  td:first-child {
    /*  margin-top: 10px; */
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */

    left: 0px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: "★";
    border-right: 1px solid #eee;
  }

  td:nth-of-type(2):before {
    content: "Name";
    border-right: 1px solid #eee;
  }
  td:nth-of-type(3):before {
    content: "ID";
    border-right: 1px solid #eee;
  }
  td:nth-of-type(4):before {
    content: "Department";
    border-right: 1px solid #eee;
  }
  td:nth-of-type(5):before {
    content: "Performance";
    border-right: 1px solid #eee;
  }
  td:nth-of-type(6):before {
    content: "Working for";
    border-right: 1px solid #eee;
  }
  td:nth-of-type(7):before {
    content: "Wellness";
    border-right: 1px solid #eee;
  }
}
