@import "../../../styles/colors.scss";

.container {
  width: 100%;
  min-height: 100%;
}

table {
  background: $white-color;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 2px;
  box-shadow: 0 2px 15px rgba(2, 4, 69, 0.05);
  border-radius: 7px;
  text-align: left;
}

thead {
  tr th {
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: none;
    border-bottom: none !important;
    color: #000;
  }
}

tbody {
  font-weight: 300;
}

th,
td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.paginator {
  margin-top: 0.8em;
}

button {
  margin-left: 1em;
  padding: 0.4rem 1rem 0.4rem;
  background: $white-color;
  border-radius: 8px;
  transition: 0.2s;
  border: none;
  box-shadow: 4px 5px 5px 1px rgba(2, 4, 69, 0.05);
}

button:hover {
  cursor: pointer;
  background: $gray-color;
}
