<div class="container">
  <div class="line"></div>
  <div class="description">
    <h4>Description:</h4>
    <p>
      This website is part of a series of exercises. The objective is to create
      a website for the Human Resources Department to measure the level of
      comfort and performance of a company's employees. This can be useful in
      determining whether an employee needs, for example, vacation time, salary
      increases, etc. etc.
    </p>
  </div>

  <div class="black-label">
    <div class="info">
      <p>Build on Angular 11</p>
      <p>RAUL CONTRERAS</p>
      <p>© {{ year }}</p>
    </div>
   
  </div>
</div>
