@import "../../../styles/colors.scss";

.container {
  width: 100%;
  background: $white-color;
  flex-wrap: wrap;
  box-shadow: 0 2px 15px rgba(2, 4, 69, 0.05);
  border-radius: 7px;
  .title {
    padding-top: 1em;
    text-align: center;
  }

  .graph {
    width: 90%;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .controls {
    display: inline-block;

    .color {
      width: 16px;
      height: 16px;
      border-radius: 8px;

      cursor: pointer;
      text-decoration: none;
    }
  }
}
