@import "../styles/colors.scss";

.side-menu {
  width: 15%;
  height: 100%;
  position: fixed !important;
  z-index: 100;
}

.content {
  width: 85%;

  height: fit-content;

  min-height: 100vh;
  background: $gray-color;
  float: right;
  display: grid;
  grid: 1fr / 1fr;

  .list {
    min-height: 50rem;
    padding: 3%;
  }

  .footer {
    padding: 3%;
    padding-bottom: 0px;
  }
}
