 @import '../styles/colors.scss';

.side-menu {
  width: 15%;
  height: 100%;
  position: fixed !important;
  z-index: 100;
}

.content {
  width: 81%;
  padding: 2%;
  height: fit-content;

  min-height: 100vh;
  background: $gray-color;
  float: right;
}
