<!-- <canvas #chart class="chart"> </canvas> -->

<div class="chart">
  <div class="scale">
    <span
      *ngFor="
        let number of [
          100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20,
          15, 10, 5, 0
        ]
      "
      [ngStyle]="
        number === 100 ||
        number === 75 ||
        number === 50 ||
        number === 25 ||
        number === 0
          ? { fontWeight: 'bold' }
          : {}
      "
      >{{ number }}%</span
    >
  </div>
  <div class="square">
    <div
      class="lines"
      *ngFor="
        let line of [
          95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15,
          10, 5
        ]
      "
      [ngStyle]="
        line === 75 || line === 50 || line === 25
          ? {
              bottom: line + '%',
              opacity: '0.1',
              borderBottom: 'solid 3px black'
            }
          : { bottom: line + '%', borderBottom: 'dotted 5px gray' }
      "
    ></div>

    <ng-container *ngFor="let array of list">
      <div class="bar-group">
        <span
          *ngFor="let item of array"
          class="bar"
          [ngStyle]="{
            width: 95 / elements.length + '%',
            height: item.value + '%'
          }"
          [style.background]="item.color"
          ><label for="bar">{{ item.value }}%</label>
        </span>
      </div>
    </ng-container>
  </div>
  <div class="descriptions">
    <div class="description" *ngFor="let item of descriptions">
      <p class="name">{{ item }}</p>
    </div>
  </div>
</div>
