@import "../../../styles/colors.scss";

.chart {
  height: 100%;
  width: 100%;
  min-width: 300px;

  display: grid;

  .scale {
    grid-column: 1;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .square {
    grid-column: 2 / span 20;
    height: 800px;

    border: solid 5px black;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .lines {
      z-index: 1;
      height: 0px;
      width: 100%;
      position: absolute;
      opacity: 0.1;
    }

    .bar-group {
      display: flex;
      width: 6%;

      justify-content: space-between;

      margin-top: auto;
      height: 100%;
    }

    .bar {
      position: relative;
      -moz-transition: height 0.5s;
      -ms-transition: height 0.5s;
      -o-transition: height 0.5s;
      -webkit-transition: height 0.5s;
      transition: height 0.5s;
      cursor: pointer;
      z-index: 1000;
      margin-top: auto;
      display: block;
      background: #3886a7;
      text-align: center;

      label {
        position: absolute;
        right: 10%;
        top: 0%;
        background: $gray-color;
        border-radius: 15px;
        padding: 5px 8px;

        visibility: hidden;
      }
    }

    .bar:hover {
      label {
        visibility: visible;
      }
    }
  }

  .descriptions {
    padding-top: 1em;
    grid-column: 2 / span 20;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .description {
      position: relative;
      width: 60px;
      height: 50px;

      p {
        position: absolute;
        font-size: 1em;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        transform: rotate(-45deg);
        width: 80px;
        text-align: center;
      }
    }
  }
}
